table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 150%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

label#message_rsm-error {
    color: red;
}

label#name_rsm-error {
    color: red;
}

label#email_rsm-error {
    color: red;
}

label#subject_rsm-error {
    color: red;
}

button {
    padding: 10px 20px;
    background-color: #28a745; /* Green background */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners (reduce size) */
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 30px;
}
 button:hover {
    background-color: #218838; /* Darker green on hover */
    transform: translateY(-2px);
}

 button:active {
    background-color: #1e7e34; /* Even darker green when clicked */
    transform: translateY(0);
}
a.btn.btn-success {
    margin-top: 20px;
    font-weight: bold;
    background-color: purple;
}
